*.pth filter=lfs diff=lfs merge=lfs -text
ec2-35-174-114-151.compute-1.amazonaws.com filter=lfs diff=lfs merge=lfs -text
ec2-user@ec2-35-174-114-151.compute-1.amazonaws.com filter=lfs diff=lfs merge=lfs -text
